{% extends 'main/base.html' %}

{% load static %}

{% block title %}Post Details{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/details.css' %}">{% endblock %}

{% block content %}

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Deleting the post</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the post?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
          <a href="{% url 'main:delete_view' post.id %}"><button type="button" class="btn btn-danger rounded-3 p-2">Yes</button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- End of modal -->

<div class="container">
    <h1 class="pt-5">Post Details</h1>
    <div class="col-sm-12 mb-3 py-2">
        <div class="card w-100 d-flex flex-column gap-3" style="width: 18rem;">
           <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
           <div class="card-body d-flex flex-column gap-3">
           <h5 class="card-title">{{ post.title }}</h5>
           <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.category }}</h6>
           <h6 class="card-subtitle mb-2 text-body-secondary">{{ post.published_at }}</h6>
           <p class="card-text">{{ post.content }}</p>
           <h6 class="card-subtitle mb-2 text-body-secondary">
               {% if post.is_published %}
                   the post is published
               {% else %}
                   the post is not published
               {% endif %}
           </h6>
           <a href="{% url 'main:update_view' post.id %}" class="btn col-lg-5 my-2 btn-primary rounded-3 p-2">Update post</a>
           <!-- Button trigger modal -->
            <button type="button" class="btn col-lg-5 my-2 btn-danger rounded-3 p-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Delete post
            </button>
           </div>
        </div>  
    </div>
</div>

{% endblock %}